body {
  margin: 0;
  padding: 0;
  background-color: #0a0a0a; /* Matte grey-black with a hint of blue */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Arial', sans-serif;
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 70%;
}